---
import type { Playlist } from '@/lib/data';
interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, albumId, artists, color, cover, title } = playlist;
---

<a
  href={`/playlist/${id}`}
  class="flex relative p-2 items-center gap-3 rounded-lg hover:bg-[#1A1A1A]"
>
  <picture class="h-12 w-12 flex-none">
    <img src={cover} alt="coverImg" class="rounded-md" />
  </picture>

  <div class="text-white">
    <h4>
      {title}
    </h4>
    <span class="text-[#a7a7a7] text-sm">
      {artists}
    </span>
  </div>
</a>
